/*Imported Fonts*/
@font-face {
	font-family: 'Death Crow Regular';
	src: url(./deathcrowregular-dbqx.ttf);
	font-family: 'Black Metal';
	src: url(./blackmetal-font.ttf);
	font-family: 'Who Asks Satan';
	src: url(./whoaskssatan-font.ttf);
}

/*Body Section*/
body {
	background-color: rgb(0, 0, 0);
	color: white;
	font-family: 'Who Asks Satan';
	font-size: 16px;
}

.handbones {
	display: flex;
	flex-direction; column;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	margin: 10% auto;
}

.handbones h1 {
	font-size: 5rem;
}